<a href="https://colab.research.google.com/github/alsnwlsn/python/blob/master/2%EC%9D%BC%EC%B0%A8_2%EA%B5%90%EC%8B%9C_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
a=input("이름 : ")
a

이름 : dsad

'dsad'

In [6]:
b=input("나이 : ")
b

나이 : 25

'25'

In [7]:
type(b)

str

In [10]:
c=int(b)
c,type(c)

(25, int)

In [14]:
year=int(input('생년월일 : '))
print('당신은',year,'생임')
print('당신의나이는 : ',2020-year+1,'세 입니다')

생년월일 : 2
당신은 2 생임
당신의나이는 :  2019 세 입니다

**format**
서식지정자

In [20]:
s='a is {}'
s.format('apple')

'a is apple'

In [23]:
a='%s %d 개 가격은 %.2f$'
b= a %('햄버거',2,4.0*2)
print(a)
print(b)

%s %d 개 가격은 %.2f$
햄버거 2 개 가격은 8.00$

In [24]:
# 치킨2마리가격은4만원
a='%s %d마리 가격은 %d만원'
b= a %('치킨',2,2*2)
print(b)

치킨 2마리 가격은 4만원