<a href="https://colab.research.google.com/github/alsnwlsn/python/blob/master/7%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
p = '/content/sample_data/'

In [0]:
import pandas as pd
df = pd.read_csv(p+'california_housing_train.csv')

In [0]:
df.head(10)

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0
5    -114.58     33.63  ...         3.3438             74000.0
6    -114.58     33.61  ...         2.6768             82400.0
7    -114.59     34.83  ...         1.7083             48500.0
8    -114.59     33.61  ...         2.1782             58400.0
9    -114.60     34.83  ...         2.1908             48100.0

[10 rows x 9 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

# 국가보훈처 보훈의료 위탁병원 코로나-19 병원 정보
보훈대상자 의료 제공 위탁병원의 코로나-19 관련 병원 운영 현황 정보 등 제공 (국민안심병원, 감염병전담기관, 감염병전담기관 외래진료 정보) (제공주기) 코로나-19 관련 병원 운영 현황 변경 시 일자별 제공 (제공방법) 공공데이터 표준 포멧(CSV 파일) 형식 제공 (제공항목) 시군구, 의료기관명, 진료과수, 병상수, 전화번호, 주소, 국민안심병원 여부, 감염병전담기관 여부, 감염병전담기관 외래진료 가능여부 * 여부는 Y/N 표시

In [0]:
data='/content/drive/My Drive/파이썬/보훈의료 위탁병원 코로나-19 병원 정보(국민안심병원, 감염병전담기관)_20200408.csv'
df2=pd.read_csv(data,encoding='cp949')
df2

            시군구       의료기관명  진료과수  ...  국민안심병원 여부 감염병전담기관 여부 감염병전담기관 외래진료 가능여부
0       강원도 강릉시      강릉동인병원    21  ...        NaN        NaN               NaN
1       강원도 강릉시     박정빈외과의원     1  ...        NaN        NaN               NaN
2       강원도 강릉시     이명호내과의원     1  ...        NaN        NaN               NaN
3       강원도 고성군       세브란의원     4  ...        NaN        NaN               NaN
4       강원도 동해시  근로복지공단동해병원    10  ...          Y        NaN               NaN
..          ...         ...   ...  ...        ...        ...               ...
314  충북 청주시 청원구      초정노인병원     3  ...        NaN        NaN               NaN
315  충북 청주시 흥덕구      청주현대병원     4  ...        NaN        NaN               NaN
316      충북 충주시     건국대충주병원    23  ...          Y        NaN               NaN
317      충북 충주시      송원요양병원     2  ...        NaN        NaN               NaN
318      충북 충주시   충주시노인전문병원     4  ...        NaN        NaN               NaN

[319 rows x 9 columns]

In [0]:
man = [[1,2,3],[3,2,3],[5,2,3]]
df3=pd.DataFrame(man)
df3.index=[1,2,3]
df3.columns=['1차','2차','3차']
df3

   1차  2차  3차
1   1   2   3
2   3   2   3
3   5   2   3

In [0]:
df3['1차']==3

1    False
2     True
3    False
Name: 1차, dtype: bool

In [0]:
df4['합계'] = df3['1차'] + df3['3차']
df4

   1차  2차  합계
1   1   2   4
2   1   2   6
3   1   2   8