### Format_for_list

In [1]:
s = '{} {} {}'
f = s.format('대건','윤기','찬빈')
print(f)

대건 윤기 찬빈

In [5]:
s = '{}이는 {}번이고 {} 진학했다'
f = s.format('대건',12,'인천대학교')
print(f)

대건이는 12번이고 인천대학교 진학했다

In [6]:
name = '석찬'
num = 30303
add = '인천시 연수구'
s = '{}이는 {}번이고 {} 살고잇다'
f = s.format(name,num,add)
print(f)

석찬이는 30303번이고 인천시 연수구 살고잇다

In [9]:
name = input('이름입력 :') 
num = input('학번입력 :')
add = input('주소입력 :')
s = '{}은(는) {}번이고 {}에 살고잇다'
f = s.format(name,num,add)
print(f)

이름입력 :ㅇ
학번입력 :ㅇ
주소입력 :ㅇ
ㅇ은(는) ㅇ번이고 ㅇ에 살고잇다

In [17]:
stu = input('이름,학번,주소입력 :').split()

이름,학번,주소입력 :허대범 30318 민수하우스

In [18]:
s = '{}은(는) {}번이고 {} 살고잇다'
f = s.format(stu[0],stu[1],stu[2])
print(f)

허대범은(는) 30318번이고 민수하우스 살고잇다

#### [문제1]다음과 같은 양식으로 입력받아 출력하기
- 햄버거/2/4 입력하면
- 햄버거 2개 값은 8$입니다.

In [1]:
ham = input("다음과같이입력 먹고싶은것/개수/가격  : ").split('/')
sum=int(ham[1])*int(ham[2])
s = '{}{}개 값은 {}$입니다'
f = s.format(ham[0],ham[1],sum)
print(f)

다음과같이입력 먹고싶은것/개수/가격  : 치킨/2/4
치킨2개 값은 8$입니다

In [3]:
info = '%d %s %0.2f'
pr = info%(50,'인천',0.5)
print(pr)

50 인천 0.50

In [5]:
info = '%d년도 %s여고 %0.2f퍼센트'
pr = info%(50,'인천',0.5)
print(pr)

50년도 인천여고 0.50퍼센트

### [문제2] 햄버거 2개는 8달러입니다

In [8]:
info = '%s %d개는 %0.1f달라입니다'
pr = info%('햅버거',2,2*4)
print(pr)

햅버거 2개는 8.0달라입니다

### List

In [9]:
arr = [1,2,3,4,5]
arr

[1, 2, 3, 4, 5]

In [13]:
arr = ['성곤','대건','대범','호정']
arr

['성곤', '대건', '대범', '호정']

In [11]:
arr[0]

'성곤'

In [14]:
len(arr)

4

In [20]:
for i in arr :
    print(i)

성곤
대건
대범
호정

In [26]:
for i in range(len(arr)):
    print(i)

0
1
2
3

In [27]:
for i in range(len(arr)):
    print(arr[i])

성곤
대건
대범
호정

In [30]:
for i,val in enumerate(arr):
    print(i+1,"번",val)

1 번 성곤
2 번 대건
3 번 대범
4 번 호정

### [문제1] 30부터 50까지 출력

In [32]:
for i in range(30,51) :
    print(i)

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

### [문제2] 30부터 50까지 중에서 홀수만 출력

In [33]:
for i in range(30,51) :
    if i%2!=0 :
        print(i)

31
33
35
37
39
41
43
45
47
49

### [문제3]30부터 50까지 중에서 홀수만 더해서 출력

In [38]:
sum = 0
for i in range(30,51) :
    if i%2!=0 :
        print(i)
        sum=sum+i
print("총합 : ",sum)

31
33
35
37
39
41
43
45
47
49
총합 :  400

### [문제4]1부터 10까지 중에서 짝수이면 파이썬 홀수이면 야 너도 할수 있어 출력

In [40]:
for i in range(1,11) :
    if i%2==0 :
        print(i,"파이썬")
    else :
        print(i,"야 너도 할수 있어")

1 야 너도 할수 있어
2 파이썬
3 야 너도 할수 있어
4 파이썬
5 야 너도 할수 있어
6 파이썬
7 야 너도 할수 있어
8 파이썬
9 야 너도 할수 있어
10 파이썬